/* Variables */
:root {
    --mainColor: #17191e;
    --secondaryColor: #ffda00;
    --transitionDuration: 0.2s;
}


/* GLobal Rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Abel', sans-serif;
    height: fit-content;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f7d92db5;
}

::-webkit-scrollbar-thumb {
    background-color: #17191ec9;
}

/* Responsive */

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* header */
header {
    padding: 10px;
    background-color: var(--mainColor);
    width: 100%;
    height: 150px;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 300px;
}

header i {
    background-color: var(--secondaryColor);
    padding: 10px;
    border-radius: 10%;
    height: fit-content;
    transition-duration: var(--transitionDuration);

}

header i:hover,
header .links:hover i {
    background-color: #fff1a5;
    cursor: pointer;
    animation-name: list;
    animation-duration: 0.6s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
    border-radius: 30%;
}

@keyframes list {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.header .links {
    transition-duration: var(--transitionDuration);

}

header .links:hover ul {
    display: block;
}

header .links {
    position: relative;

}

header .links ul {
    position: absolute;
    background-color: #ffda00;
    width: 250px;
    border-radius: 10px;
    padding: 10px 20px;
    top: calc(100% + 15px);
    right: 0;
    display: none;
    transition-duration: var(--transitionDuration);

}

header .links ul::before {
    content: "";
    border-width: 20px;
    border-color: transparent transparent var(--secondaryColor) transparent;
    border-style: solid;
    position: absolute;
    right: 0px;
    top: -15%;
}

header li:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: #17191e solid 2px;
}

header li:not(:first-child) {
    padding-top: 20px;
}

header li a {
    display: block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #17191e;
    font-weight: bold;
    transition-duration: var(--transitionDuration);
    letter-spacing: 2px;
}

header li a:hover {
    transform: translate(20px);
    font-weight: bolder;
    font-size: 2vh;
}

/* landing Page */

section.land {
    background-color: var(--mainColor);
    height: 650px;
    padding: 20px;
}

section.land h1 {
    color: var(--secondaryColor);
    font-size: 120px;
    text-transform: uppercase;
    width: 50%;
    padding-top: 40px;
}

section.land p {
    display: inline-block;
    color: #fff;
    width: 70%;
    padding-top: 40px;
    font-size: 18px;
    margin-bottom: 50px;

}

section.land span {
    display: block;
    color: #fff;
    font-size: 20px;
    border: var(--secondaryColor) solid 2px;
    width: 180px;
    text-align: center;
    padding: 10px 25px;
    transition-duration: var(--transitionDuration);
}

section.land span:hover {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    box-shadow: 0px 0px 30px #f7d92d;
    cursor: pointer;
    font-weight: bold;
    border: var(--mainColor) solid 2px;
    animation-name: btn;
    animation-duration: 200ms;

}

/* Break */
section.break {
    display: flex;
    background-color: var(--secondaryColor);
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: #f5e37e solid 2px;
    border-bottom: #17191e solid 2px;
}

section.break p {
    text-transform: capitalize;
    font-size: 15px;
}


/* Second Section  */

section.secondSec {
    padding-top: 60px;
    margin-top: 60px;
    border-bottom: #f7d92d solid 4px;
}

section.secondSec .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

section.secondSec i {
    font-size: 40px;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-bottom: 20px;
}

section.secondSec h3 {
    font-size: 40px;
    color: var(--secondaryColor);
    padding-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

section.secondSec p {
    display: block;
    font-size: 18px;
    color: var(--mainColor);
}

section.secondSec span {
    color: var(--mainColor);
    font-size: 20px;
    border: var(--secondaryColor) solid 2px;
    width: 400px;
    text-align: center;
    padding: 10px 25px;
    transition-duration: var(--transitionDuration);
    text-transform: uppercase;
    margin-bottom: 100px;
}

section.secondSec span:hover {
    background-color: #17191e;
    color: var(--secondaryColor);
    box-shadow: 0px 0px 40px #3d414c;
    cursor: pointer;

    border: var(--secondaryColor) solid 2px;
    animation-name: btn;
    animation-duration: 200ms;
}

/* Button Animation */
@keyframes btn {
    0% {
        translate: 10px;
    }

    25% {
        translate: -10px;
    }

    50% {
        translate: 10px;
    }

    100% {
        translate: -10px;
    }
}

/* Counter */

.counter {
    width: 100%;
    height: 380px;
    background-color: var(--mainColor);
    padding-top: 80px;
    border-bottom: var(--secondaryColor) solid 4px;




}

.counter .container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.counter .container i {
    color: var(--secondaryColor);
    font-size: 40px;
}


.counter .container h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 4px;
    padding-top: 30px;
}

.counter .container p {
    display: block;
    color: var(--secondaryColor);
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

/* Fourth Section  */
.fourthSection {
    background-color: #fff;
    width: 100%;
    height: 650px;
    padding-top: 85px;
}

.fourthSection h1 {
    color: var(--secondaryColor);
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;


}

.fourthSection p {
    padding-top: 30px;
    font-size: 28px;
}

.fourthSection .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    justify-content: center;
    margin-top: 80px;
}

.fourthSection .buttons span {
    font-size: 20px;
    border: var(--secondaryColor) solid 2px;
    text-align: center;
    border-radius: 8px;
    letter-spacing: 4px;
    padding: 10px 20px;
    transition-duration: var(--transitionDuration);

}

.fourthSection .buttons span:hover {
    background-color: #17191e;
    color: var(--secondaryColor);
    box-shadow: 0px 0px 40px #3d414c;
    cursor: pointer;
    font-weight: bold;
    border: var(--secondaryColor) solid 2px;
    animation-name: btn;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}

/* Complex */
.complex {
    width: 100%;
    height: 900px;
    background-color: #3c3b32;
    position: relative;
    border-bottom: var(--secondaryColor) solid 4px;
}

.complex .two {
    background-color: var(--secondaryColor);
    border-top: var(--mainColor) solid 4px;
}

.complex .one,
.complex .three {
    background: var(--mainColor);
    border-top: var(--secondaryColor) solid 4px;

}


.complex .one {
    width: calc(100%/4);
    height: 100%;
}

.complex .two {
    position: absolute;
    top: 0;
    width: calc(100% /2);
    height: 50%;
    right: 25%;
    padding: 100px 80px;
}

.complex .three {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% /4);
    height: 50%;
}

.complex .four {
    position: absolute;
    bottom: 0;
    right: 25%;
    width: calc(100%/3);
    height: 50%;
}

.complex .five {
    position: absolute;
    background-color: #5d5c50;
    height: 50%;
    width: calc(100%/5);
    bottom: 0;
    right: 15%;
    z-index: 2;
}

.complex .two h1 {
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.complex .two p {
    display: block;
    color: #3e3e3e;
    font-size: 20px;

}

.complex .two span {
    display: block;
    color: var(--mainColor);
    border: #fff solid 2px;
    font-size: 20px;
    padding: 5px 40px;
    margin-top: 70px;
    width: fit-content;
    transition-duration: var(--transitionDuration);

}


.complex .two span:hover {
    background-color: #ffe864;
    color: var(--mainColor);
    box-shadow: 0px 0px 40px #3d414c;
    cursor: pointer;
    font-weight: bold;
    border: var(--mainColor) solid 2px;
    animation-name: btn;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}

/* Break2  */
section.break2 {
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--secondaryColor) solid 4px;
}

section.break2 span {
    all: none;
    display: block;
    font-size: 20px;
    padding: 10px 60px;
    text-transform: uppercase;
    border: var(--secondaryColor) solid 2px;
    transition-duration: var(--transitionDuration);
}

section.break2 span:hover {
    background-color: #17191e;
    color: var(--secondaryColor);
    box-shadow: 0px 0px 80px #3d414c;
    cursor: pointer;
    font-weight: bold;
    border: var(--secondaryColor) solid 2px;
    animation-name: btn;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}

/* Clients  */
.clients {
    padding-top: 80px;
    width: 100%;
    height: 600px;
    background-color: var(--mainColor);
    border-bottom: var(--secondaryColor) solid 4px;
}

.clients h1 {
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--secondaryColor);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.clients p {
    display: block;
    width: 75%;
    color: #fff;
    font-size: 21px;
}

.clients .dots i {
    color: #fff;
    font-size: 14px;


}

.clients .dots i.yellow {
    color: var(--secondaryColor);
}

.clients .dots {
    width: 100%;
    height: 260px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
    gap: 7px;
}


/* contact */
.contact {
    width: 100%;
    height: 990px;
    padding-top: 100px;

    background-color: #fff;
    position: relative;
    border-bottom: var(--mainColor) solid 4px;

}

.contact h1 {
    font-size: 60px;
    color: var(--secondaryColor);
    letter-spacing: 2px;

}

.contact p {
    display: block;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 100px;
}

.contact form {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    row-gap: 20px;
    column-gap: 10px;
    margin-bottom: 80px;
}

.contact #sub,
.contact #msg {
    grid-column: 1/-1;
}

.contact #msg {
    width: 100%;
    height: 300px;
    vertical-align: top;
    resize: none;
}

.contact #sub,
.contact #msg,
.contact #name,
.contact #mail {
    font-size: 20px;
    border: var(--mainColor) solid 2px;
    padding: 2px 15px;
}

.contact input::placeholder {
    color: #17191e;
}

.contact span {
    color: var(--mainColor);
    font-size: 20px;
    border: var(--secondaryColor) solid 2px;
    width: 400px;
    text-align: center;
    padding: 10px 80px;
    transition-duration: var(--transitionDuration);
    text-transform: uppercase;
    margin-bottom: 80px;
    position: absolute;
    right: 40%;
    letter-spacing: 3px;
    margin-bottom: 100px;

}

.contact span:hover {
    background-color: #17191e;
    color: var(--secondaryColor);
    box-shadow: 0px 0px 80px #3d414c;
    cursor: pointer;

    border: var(--secondaryColor) solid 2px;
    animation-name: btn;
    animation-duration: 200ms;
}

/* Address */

.address {
    width: 100%;
    height: 250px;
    background: var(--secondaryColor);
    position: relative;
}

.address .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    justify-content: center;
    align-content: center;
    height: 100%;
}

.address i,
.address p {
    display: inline-block;
}

.address i {
    font-size: 30px;
    background-color: var(--mainColor);
    color: #ffffff;
    padding: 15px;
    margin-right: 25px;
}

.address p {
    font-size: 20px;
    position: absolute;
    top: 44%;
}

/* Footer */

footer {
    width: 100%;
    height: 400px;
    background-color: var(--mainColor);
    position: relative;
}

footer h1 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 span {
    color: var(--secondaryColor);
    margin-right: 5px;
    margin-left: 5px;


}

footer .socialLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: -60px;
}

footer .socialLinks i {
    font-size: 28px;
    color: #fff;
}

footer .socialLinks i:hover {
    font-size: 28px;
    color: var(--secondaryColor);
    cursor: pointer;
    transition-duration: var(--transitionDuration);
    animation-name: btnCu;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
}


@keyframes btnCu {
    0% {
        translate: 5px;
    }

    25% {
        translate: -5px;
    }

    50% {
        translate: 5px;
    }

    100% {
        translate: -5px;
    }
}

footer a.up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    width: 40px;
    height: 40px;
    text-align: center;
}

footer .upCont {
    display: flex;
    justify-content: flex-end;
}

::selection {
    background-color: #6a602b;
    color: #abafb9;
}